In [1]:
from arcgis.gis import GIS
from arcgis.geometry import *
import pandas as pd
import getpass

In [2]:
proxyUrl = "wwwproxy.delaware.gov"

In [3]:
user = input("user Name: ")

user Name: mtownshend@de

In [7]:
fm_pass = getpass.getpass()

········

In [8]:
on_state_network = input('Are you on the state network? True or False: ')

Are you on the state network? True or False: True

In [9]:
if (on_state_network):
    gis = GIS(url='https://www.arcgis.com', username = user, password = fm_pass, proxy_host=proxyUrl, proxy_port=8080)
else:
    gis = GIS(url='https://www.arcgis.com', username = user, password = fm_pass)

In [10]:
testmap = gis.map('Newark, DE')

In [11]:
testmap.basemap = 'dark-gray'

In [12]:
testmap

In [13]:
content = gis.content.search("Bus")

In [14]:
content_df = pd.DataFrame(content)
content_df[['title', 'type']]

                               title                     type
0                               DART                  Web Map
1                 Delaware Bus Stops          Feature Service
2        Delaware Bus Routes & Stops                  Web Map
3                Delaware Bus Routes          Feature Service
4  Delaware Bus Routes and Bus Stops  Web Mapping Application
5     Delaware Roadside Obstructions          Feature Service
6     Delaware Roadside Obstructions              Map Service

In [15]:
testmap.add_layer(content[1])

In [16]:
location = [(39.690382, -75.758019)]

In [17]:
loc_df = pd.DataFrame.from_records(location)

In [18]:
loc_df.columns = ['y', 'x']

In [19]:
loc_df

           y          x
0  39.690382 -75.758019

In [20]:
dorm = gis.content.import_data(loc_df)
testmap.add_layer(dorm)

In [21]:
pt = Point({"x" : -75.758019, "y" : 39.690382, "spatialReference" : {"wkid" : 4326}})
print (pt.is_valid)
print (pt.type) # POINT
print (pt)
print (pt.x, pt.y)

True
Point
{"x": -75.758019, "y": 39.690382, "spatialReference": {"wkid": 4326}}
-75.758019 39.690382

In [22]:
dormBuffer = buffer([pt], in_sr=pt.spatial_reference, distances=0.01, unit={"wkid" : 9035}, out_sr=pt.spatial_reference, buffer_sr=pt.spatial_reference)
dormBuffer[0]

{"rings": [[[-75.758019, 39.700382], [-75.75628251822333, 39.70023007753012], [-75.75459879856675, 39.699778926207856], [-75.75301900000001, 39.69904225403784], [-75.75159112390314, 39.69804244443119], [-75.75035855556882, 39.696809876096864], [-75.74935874596216, 39.695381999999995], [-75.74862207379215, 39.69380220143326], [-75.74817092246988, 39.69211848177667], [-75.748019, 39.690382], [-75.74817092246988, 39.68864551822333], [-75.74862207379215, 39.68696179856674], [-75.74935874596216, 39.685382000000004], [-75.75035855556882, 39.683954123903135], [-75.75159112390314, 39.68272155556881], [-75.75301900000001, 39.68172174596216], [-75.75459879856675, 39.680985073792144], [-75.75628251822333, 39.68053392246988], [-75.758019, 39.680382], [-75.75975548177668, 39.68053392246988], [-75.76143920143326, 39.680985073792144], [-75.763019, 39.68172174596216], [-75.76444687609687, 39.68272155556881], [-75.76567944443119, 39.683954123903135], [-75.76667925403785, 39.685382], [-75.76741592620786, 39.68696179856674], [-75.76786707753013, 39.68864551822333], [-75.76801900000001, 39.690382], [-75.76786707753013, 39.69211848177667], [-75.76741592620786, 39.69380220143326], [-75.76667925403785, 39.695382], [-75.76567944443119, 39.696809876096864], [-75.76444687609687, 39.69804244443119], [-75.763019, 39.69904225403784], [-75.76143920143326, 39.699778926207856], [-75.75975548177668, 39.70023007753012], [-75.758019, 39.700382]]]}

In [23]:
bufferPoly = arcgis.geometry.Polygon(dormBuffer[0])

In [46]:
from arcgis.features import FeatureSet
from arcgis.features import Feature
from arcgis.features import FeatureLayer
bufferFeature = arcgis.features.Feature(bufferPoly)
bufferFeature.geometry_type
testmap.draw(arcgis.features.FeatureSet([bufferFeature]))

In [82]:
# testmap.clear_graphics()

In [72]:
busstops = content[1]
busstops.layers[0]

In [76]:
url = busstops.layers[0].url
layer = FeatureLayer(url, gis=gis)
for field in layer.properties.fields:
    print(field['name'] + " = " + field['type'])

OBJECTID = esriFieldTypeOID
STOPID = esriFieldTypeInteger
STOPABBR = esriFieldTypeString
STOPNAME = esriFieldTypeString
ROUTES = esriFieldTypeString
COUNTY = esriFieldTypeString
BENCH = esriFieldTypeString
SHELTER = esriFieldTypeString
LON = esriFieldTypeDouble
LAT = esriFieldTypeDouble

In [88]:
results = layer.query(where='ROUTES like(46)')

In [91]:
results.df

,BENCH,COUNTY,LAT,LON,OBJECTID,ROUTES,SHELTER,STOPABBR,STOPID,STOPNAME,SHAPE
0,0,None,39616634,-75753505,5361,46,0,LACO,325,CORPORATE BLVD @ LAKE DR,"{'x': -8432841.3869, 'y': 4810386.817400001}"
1,0,None,39680505,-75753513,5368,46,0,SNPE,340,S COLLEGE AVE & PED X AMSTEL AVE,"{'x': -8432842.2769, 'y': 4819621.023500003}"
2,0,None,39680334,-75753680,5370,46,0,SSPE,342,S COLLEGE AVE & PED X AMSTEL AVE,"{'x': -8432860.8672, 'y': 4819596.289499998}"
3,0,None,39676454,-75753434,6637,46,0,S0SU,2367,S COLLEGE AVE & OP SUNSET RD,"{'x': -8432833.4828, 'y': 4819035.093000002}"
4,0,None,39678195,-75753625,6640,46,0,SSKE,2375,S COLLEGE AVE & KENT WAY,"{'x': -8432854.7447, 'y': 4819286.9043999985}"
5,0,None,39676533,-75753716,6641,46,0,S1SU,2376,S COLLEGE AVE & SUNSET RD,"{'x': -8432864.8748, 'y': 4819046.519199997}"
6,0,None,39616745,-75753490,7169,46,0,COLW,3326,CORPORATE BLVD @ LAKE DR,"{'x': -8432839.717, 'y': 4810402.857900001}"
7,0,None,39616998,-75756471,7170,46,0,COPW,3327,CORPORATE BLVD @ PENCADER DR,"{'x': -8433171.5603, 'y': 4810439.418899998}"
8,0,None,39611962,-75762844,7171,46,0,P650,3328,PENCADER DR @ 650 PENCADER DR,"{'x': -8433880.9992, 'y': 4809711.693599999}"
9,0,None,39611339,-75767761,7172,46,0,PWRA,3329,PENCADER DR @ REYNOLDS ALUMINUM,"{'x': -8434428.357, 'y': 4809621.670900002}"
10,0,None,39607288,-75769633,7173,46,0,PVSP,3330,PLEASANT VALLEY RD OP PENCADER BAR,"{'x': -8434636.7471, 'y': 4809036.326300003}"
11,0,None,39607178,-75769451,7178,46,0,PVPN,3335,PLEASANT VALLEY RD @ PENCADER BAR,"{'x': -8434616.4869, 'y': 4809020.432400003}"
12,0,None,39611272,-75767436,7179,46,0,PUCP,3336,PENCADER DR @ UCP,"{'x': -8434392.1782, 'y': 4809611.989600003}"
13,0,None,39611878,-75762682,7180,46,0,P405,3337,PENCADER DR @ 405 PENCADER BLVD,"{'x': -8433862.9655, 'y': 4809699.555600002}"
14,0,None,39616578,-75756695,7181,46,0,PECO,3338,PENCADER DR @ CORPORATE BLVD,"{'x': -8433196.4959, 'y': 4810378.7249}"
15,1,None,39616420,-75749724,6792,46,1,COLB,2609,CORPORATE BLVD & OP DEPT OF LABOR,"{'x': -8432420.488, 'y': 4810355.892499998}"
16,1,None,39616315,-75749738,6793,46,1,COLA,2610,CORPORATE BLVD & DEPT OF LABOR,"{'x': -8432422.0464, 'y': 4810340.7190999985}"